/target
target/
/build
/.gradle
.gradle/
.idea/
*.iml
/app/build
/.kotlin
.keys/

/android/.gradle
/android/build
/android/app/build
/android/.kotlin

/android/.cxx
/android/local.properties
/android/send-*
/android/release.keystore

/electron/node_modules
/electron/dist
